h1{
	font-family: Verdana, Geneva, sans-serif
}
h2{
	font-family: Verdana, Geneva, sans-serif
}

h3{
	font-family: Verdana, Geneva, sans-serif
}
h4{
	font-family: Verdana, Geneva, sans-serif
}

#fossText{
	font-family: Verdana, Geneva, sans-serif
	color: black;
	text-decoration: none;
	font-style: italic;
}

#fossText:hover {
	text-decoration: underline;
}

#fossText:visited{
	color: black;
}

#titleText {
	text-align: center;
}

#authorText {
	text-align: center;
}