h1{
	font-family: sans-serif;
}
h2{
	font-family: sans-serif;
}

h3{
	font-family: sans-serif;
}
h4{
	font-family: sans-serif;
}

.fossText{
	font-family: sans-serif;
	color:black;
	text-decoration: none;
}

.fossText:hover {
	text-decoration: underline;
}